.imgWrapper {
	position: relative;
}

.img {
	border-radius: 14px;
	margin-bottom: 16px;
}

.favoriteIcon {
	stroke-width: 3px;
	stroke: #f2f4f7;
	fill: none;
}

.favoriteSelected {
	stroke-width: 1px;
	stroke: #3470ff;
	fill: #3470ff;
	transition: stroke 250ms linear, fill 250ms linear;
	&:hover {
		fill: #0b44cd;
	}
}

.headerWrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 8px;
}

.title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.25;
	color: #101828;
	span {
		color: #3470ff;
	}
}

.price {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.25;
	color: #101828;
}

.infoWrapper {
	max-width: 250px;
	display: flex;
	flex-wrap: wrap;
	column-gap: 12px;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.33333;
	color: #8d929a;
	span {
		position: relative;
		&:not(:last-child)::after {
			position: absolute;
			content: '';
			height: 100%;
			width: 1px;
			margin-left: 6px;
			background-color: #dadde1;
		}
	}
}

@media screen and (min-width: 1232px) {
	.img {
		height: 268px;
		border-radius: 14px;
		margin-bottom: 16px;
	}
}
