.detailsWrapper {
	margin-bottom: 68px;
}

.title {
	display: block;
	font-weight: 600;
	font-size: 24px;
	line-height: 1.33;
	color: #101828;
	margin-bottom: 8px;
}

.infoWrapper {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.25;
	color: #101828;
	margin-bottom: 16px;
}

.location {
	margin-right: 16px;
}

.price {
	display: block;
	font-weight: 600;
	font-size: 24px;
	line-height: 1.33333;
	color: #3470ff;
	margin-bottom: 32px;
}

.description {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.25;
	color: #101828;
}
