.carList {
	display: grid;
	grid-template-columns: 1fr;
	gap: 32px;
}

@media (min-width: 768px) {
	.carList {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 1232px) {
	.carList {
		grid-template-columns: repeat(4, 276px);
		justify-content: center;
	}
}
