.hero {
	padding: 440px 329px 56px 328px;
	height: 700px;
	max-width: 1440px;
	margin: 0 auto;
	background: url('/hero/hero-img@1x.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.textWrapper {
	text-align: center;
}

.title {
	font-weight: 700;
	font-size: 60px;
	line-height: 1.2;
	margin-bottom: 16px;
	color: #fff;
}

.description {
	font-weight: 600;
	font-size: 24px;
	line-height: 1.33;
	color: #fff;
	margin-bottom: 40px;
}
