.detailsWrapper {
	display: grid;
	grid-template-columns: 1fr;
	gap: 72px;
}

.leftSide {
	display: flex;
	flex-direction: column;
	row-gap: 40px;
}

.infoWrapper {
	display: flex;
	flex-direction: column;
	row-gap: 50px;
}

@media screen and (min-width: 1232px) {
	.detailsWrapper {
		grid-template-columns: 640px 488px;
		gap: 72px;
	}

	.leftSide {
		row-gap: 40px;
	}

	.infoWrapper {
		row-gap: 110px;
	}
}
