@import 'modern-normalize/modern-normalize.css';

body {
	font-family: 'Manrope', sans-serif;
	color: #101828;
	background-color: #ffffff;
}

html,
body {
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul,
ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

address {
	font-style: normal;
}

button {
	cursor: pointer;
	padding: 0;
	line-height: 0;
}

img {
	display: block;
	max-width: 100%;
	object-fit: cover;
}

label {
	display: block;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

::-webkit-scrollbar {
	height: 8px;
	width: 8px;
}

::-webkit-scrollbar-thumb {
	border-radius: 12px;
	background-color: #dadde1;
}

::-webkit-scrollbar-track {
	border-radius: 12px;
	background-color: transparent;
}
